.MainForm{
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 13%;
    background-color: #e8e2e2;
    border-radius: 15px;
}

label input{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;

}
.PhoneDateDiv{
    padding-top:10px
}

