
.TasksInputs{
    display: block;
    margin-top:10px;
    text-align: center;

}
div h1 {
    text-align: center;
    font-size: 35px;
    font-family: "Sylfaen";
}

.Buttons {
    padding-top: 20px;
    margin-left: -90px;
}